@import "config";

// main styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baskerville", serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// navbar styles
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7 rem 2 rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.8;

  ul {
    display: flex;
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
}
